body {
  background-color: #302c30;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  color: #f4eee0;
}

.text-container {
  border: 8px solid #6d5d6e;
  border-radius: 30px;
}

.title-box {
  border: 0px solid salmon;
  font-size: 50px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.sticky-title {
  text-align: center;
  top: 0;
}

.section {
  padding: 5rem;
  border: 1px dashed #4f4557;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 0vh;
  opacity: 0;
  transform: translateY(7%);
  transition: all 0.8s;
}

.sub-section {
  padding: 5rem;
  border: 1px dashed #4f4557;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 0vh;
  opacity: 0;
  transform: translateY(7%);
  transition: all 0.8s;
}

.show {
  border: 3px dashed #4f4557;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 10vh;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.section-header {
  border: 0px solid seagreen;
  font-size: 70px;
  border-radius: 50px;
}

.sub-section-header {
  border: 0px solid pink;
  font-size: 50px;
  border-radius: 50px;
}

.plain-text {
  -webkit-text-stroke-width: 1;
  border: 0px solid saddlebrown;
  font-size: 40px;
  border-radius: 50px;
  text-align: center;
}
